#swchn {
    .header{
        display: flex;
        justify-content: space-between;
        @hid: 32px;
        height: auto;
        background: #ffffff11;
        .lg {
            max-height: @hid;
            padding: @pgpd*0.5;
            img {
                height: @hid;
                transform: scale(0.8);
                filter: drop-shadow(1px 1px 1px black);
                border-radius: 10px;
            }
        }
        .pttl {
            padding: @pgpd*0.5;
            height: @hid;
            line-height: @hid;
            text-align: center;
        }
        .adrs {
            padding: @pgpd*0.5;
            h1 {
                line-height: @hid;
                height: @hid;
                font-weight: normal;
                font-size: 14px;
                color: #999;
            }
        }
    }
    .req {
        padding: @pgpd @pgpd*2;
        .site {
            text-align: center;
            color: @clblue;
            font-size: 20px;
            margin: @pgpd 0;
            word-break: break-all;
        }
        table {
            width: 100%;
            margin-top: @pgpd;
            td {
                font-size: 13px;
                word-break: break-all;
            }
        }
        .warn {
            margin-top: @pgpd;
            color: darkorange;
            font-size: 12px;
        }
    }
    .btns {
        margin-top: @pgpd * 2;
        display: flex;
        justify-content: space-evenly;
        button {
            width: 42%;
        }
    }
}
