<header class="pchead">
    <div class="pchead-l">
        <button class="icbtn" @click="back" title="Back">
            <i class="icf" style="--ic: url('../image/ftic/left.svg')"></i>
        </button>
    </div>
    <h1 class="pchead-t">Networks</h1>
    <div class="pchead-r"></div>
</header>

<div class="chlist">
    <ul>
        <li v-for="(c, id) in chains" :class="`${curid==c.id?'active':''}`">
            <div class="hd">
                <div class="l">
                    <h2>
                        <span>{{cname(c)}}</span>
                        <em v-if="cremark(c)">{{cremark(c)}}</em>
                    </h2>
                    <p>ID: {{c.id}}</p>
                </div>
                <b v-if="curid==c.id">Current</b>
            </div>
            <p class="rpc">{{c.rpc}}</p>
            <div class="btns">
                <a @click="swt(c)" v-if="curid!=c.id">Switch</a>
                <a @click="edit(c)">Edit</a>
                <a class="red" @click="rmv(c)" v-if="c.id!=0">Delete</a>
            </div>
        </li>
    </ul>
    <div class="add">
        <button class="blue" @click="add">Add Network</button>
    </div>
</div>
