<div class="container" @mousemove="mousemove" @click="mousemove">
    <div class="ibox">
        <div class="lgi"><img src="../image/icos/logo-d.svg" /></div>

        <div class="itpr" v-if="!rdnstr">
            <div class="per"><b :style="{width: rdnbct/6+'%'}"></b></div>
            <p class="pct">{{(rdnbct/6).toFixed(1)}}%</p>
            <p class="tip">Move your mouse to generate randomness</p>
        </div>
        <div v-else >
            <div class="ttl">
                <h1 v-if="unlock">Welcome back!</h1>
                <h1 v-else>MoneyNex</h1>
                <p v-if="!unlock">Your key to future money</p>
            </div>

            <div v-if="unlock" class="pswd">
                <input ref="iptpw" v-model="ulkpass" type="password" placeholder="Password" @keyup="pskup" />
                <button class="blue" @click="doulk">Unlock</button>
            </div>
            <div v-else-if="setpass" class="stps">

                <label class="lb">Create password</label>
                <p class="hint">You'll use this to unlock your wallet.</p>

                <input type="password" v-model="pass1" placeholder="Password" />
                <input type="password" v-model="pass2" placeholder="Repeat password" />

                <button class="blue" @click="dopass">OK</button>

            </div>
            <div v-else-if="backup" class="bkup">

                <div class="adr">
                    <label class="lb">Your new wallet address</label>
                    <h1>{{acc.address.substring(0, 17)}}...</h1>
                </div>
                <label class="lb">Back up your private key</label>
                <p class="hint">Write it down and keep it safe. It cannot be recovered.</p>
                <textarea readonly>{{acc.private_key}}</textarea>

                <div class="btns">
                    <button class="" @click="cprvk">Copy</button>
                    <button class="blue" @click="dobnk">Next</button>
                </div>


            </div>
            <div v-else :class="`page p${pgi}`">
                <div :class="`swts segswt s${pgi}`">
                    <div @click="pgi=1" :class="`swt ${pgi==1?'active':''}`"><h1>Create</h1></div>
                    <div @click="pgi=2" :class="`swt ${pgi==2?'active':''}`"><h1>Import</h1></div>
                </div>
                <div class="p1" v-if="pgi==1">
                    <p class="hint">A new wallet will be created with a randomly generated private key.</p>
                    <button :class="`blue ${crting?'ing':''}`" @click="create">Create wallet</button>
                </div>
                <div class="p2" v-if="pgi==2">
                    <p class="hint">Mnemonic, private key, or password</p>
                    <div class="ipt">
                        <textarea @input="cleanerr" v-model="importkey" placeholder="Mnemonic, private key, or password"></textarea>
                    </div>
                    <button class="blue" @click="importpk" :class="`${crting?'ing':''}`">Import wallet</button>
                </div>

            </div>

        </div>

    </div>

</div>
