
#dotrs{

.form {
    padding: 0 @pgpd*2;
    .ipw {
        padding-top: @pgpd*2;
    }
    .diary {
        // font-size: 15px;
    }
    .cis {
        display: flex;
        margin: @pgpd*0.5 0;
        // border-radius: 12px;
        overflow: hidden;
        @h: 20px;
        a {
            position: relative;
            display: block;
            background: #fff2;
            padding: 3px 10px;
            height: @h;
            line-height: @h;
            cursor: pointer;
        }
        .it {
            img {
                display: none;
                top: 3px;
                left: 10px;
                height: @h;
                position: absolute;
            }
            &.f a{
                border-radius: 5px 0 0 5px;
            }
            &.e a{
                border-radius: 0 5px 5px 0;
            }
        }
        .it.active {
            img {
                display: block;
            }
            a {
                padding-left: 36px;
                background-image: linear-gradient(to right, #0000, @clblue, #0000);
                cursor: default;
            }
            &.f a{
                background-image: linear-gradient(to right, @clblue, #0000);
            }
            &.e a{
                background-image: linear-gradient(to right, #0000, @clblue);
            }
        }
    }
    .ainfo {
        padding: @pgpd*0.5 0 @pgpd;
        h3 {
            font-size: 16px;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            i {
                font-style: normal;
                font-size: 13px;
                color: #fff8;
                margin-left: 4px;
            }
        }
        p {
            margin-top: 4px;
            font-size: 13px;
            color: #fff8;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .amtw {
        position: relative;
        input {
            padding-right: 52px;
        }
        .max {
            position: absolute;
            right: 0;
            top: 0;
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
            color: @clblue;
            cursor: pointer;
            font-size: 13px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.pmtip {
    text-align: right;
    color: #fff6;
    font-size: 14px;
    margin-bottom: 10px;
    &.net {
        text-align: left;
        margin-bottom: 0;
        b {
            color: @clblue;
            font-size: 14px;
        }
    }
}

.btns {
    display: flex;
    justify-content: space-evenly;
    button {
        width: 42%;
    }
}


}
