<header class="pchead">
    <div class="pchead-l">
        <button class="icbtn" @click="back" title="Back">
            <i class="icf" style="--ic: url('../image/ftic/left.svg')"></i>
        </button>
    </div>
    <h1 class="pchead-t">Send</h1>
    <div class="pchead-r"></div>
</header>

<div class="form">
    <div class="ipw">
        <label>Send to</label>
        <input v-model="recaddr" placeholder="Enter an address" />
    </div>

    <div class="ipw" v-if="transferType=='ASSET' && asset">
        <label>Asset</label>
        <div class="ainfo">
            <h3 :title="asset.name">{{asset.name}} <i v-if="asset.ticket">{{asset.ticket}}</i></h3>
            <p>Serial #{{asset.serial}}</p>
            <p>Available: {{assetAvail}} {{asset.ticket || asset.name}}</p>
        </div>
        <label>Amount</label>
        <div class="amtw">
            <input v-model="amtasset" placeholder="Enter amount" />
            <a class="max" @click="setmax">Max</a>
        </div>
    </div>

    <div class="ipw" v-else>
        <label>Asset</label>
        <div class="cis segswt">
            <div :class="`it f ${transferType=='HAC'?'active':''}`" @click="swtcis(1)">
                <a><i class="icf" style="--ic: url('../image/ftic/hac.svg')"></i>HAC</a></div>
            <div :class="`it e ${transferType=='HACD'?'active':''}`" @click="swtcis(2)">
                <a><i class="icf" style="--ic: url('../image/ftic/hacd.svg')"></i>HACD</a></div>
        </div>
        <input v-if="transferType=='HAC'" v-model="amthac" placeholder="Enter HAC amount (e.g., 0.1, 10, 1:247)" />
        <textarea class="diary" v-if="transferType=='HACD'" v-model="nmshacd" placeholder="HACD names, comma separated (max 200)"></textarea>
    </div>

    <div class="ipw" id="gasw">
        <swtgas ref="swtgas" />
    </div>

    <div class="ipw">
        <p class="pmtip">From: {{myadr.substring(0, 9)}}...</p>
    </div>
</div>

<div class="btns">
    <button class="cancel" @click="back">Cancel</button>
    <button class="blue" @click="dotrs" :class="`${ing?'ing':''}`">Transfer</button>
</div>
