<header class="pchead">
    <div class="pchead-l">
        <button class="icbtn" @click="back" title="Back">
            <i class="icf" style="--ic: url('../image/ftic/left.svg')"></i>
        </button>
    </div>
    <h1 class="pchead-t">{{isedit?'Edit Network':'Add Network'}}</h1>
    <div class="pchead-r"></div>
</header>

<div class="chnfrm">
    <div class="item">
        <label>Chain ID</label>
        <input v-model="id" :disabled="isedit" placeholder="0" />
    </div>
    <div class="item">
        <label>Name</label>
        <input v-model="name" placeholder="Network name" />
    </div>
    <div class="item">
        <label>RPC</label>
        <input v-model="rpc" placeholder="https://.../fullnode" />
    </div>
    <div class="item">
        <label>Explorer</label>
        <input v-model="explorer" placeholder="https://..." />
    </div>
    <div class="item">
        <label>Remark</label>
        <textarea v-model="remark" placeholder="Short note"></textarea>
    </div>
</div>

<div class="btns">
    <button class="cancel" @click="back">Cancel</button>
    <button class="blue" @click="save">Save</button>
</div>
