#chainform {
    .chnfrm {
        padding: 0 @pgpd*2;
        .item {
            margin-top: @pgpd*1.5;
        }
        input:disabled {
            opacity: 0.45;
        }
    }
    .btns {
        margin-top: @pgpd * 2;
        display: flex;
        justify-content: space-evenly;
        button {
            width: 42%;
        }
    }
}
